#about { background-image: url("../../img/about/crayons.jpg"); background-repeat: repeat-y; background-attachment: scroll; background-position: 120% 0%; }
@media screen and (max-width: 1024px) { #about { background: none; } }

#portfolio { background-image: url("../../img/portfolio/events-bg.jpg"); background-repeat: no-repeat; background-attachment: scroll; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }

#carousel { margin-bottom: 50px; }
#carousel img { margin: 0 auto; width: 70%; height: 500px; }
@media screen and (max-width: 1024px) { #carousel img { width: 80%; height: 450px; } }
@media screen and (max-width: 900px) { #carousel img { width: 100%; } }
@media screen and (max-width: 768px) { #carousel { display: none; } }

@media screen and (min-width: 901px) { .carousel-control.right, .carousel-control.left { background-image: none; } }

.carousel-indicators { z-index: 100; }

#team { background-image: url("../../img/team/donate-bg.jpg"); background-repeat: no-repeat; background-attachment: scroll; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }

.donate-btn { color: white; background-color: #ffab02; border-color: #ffab02; transition: all 0.2s ease; }
.donate-btn:focus, .donate-btn.focus { color: white; background-color: #ce8a00; border-color: #825700; }
.donate-btn:hover { color: white; background-color: #ce8a00; border-color: #c48300; }
.donate-btn:active, .donate-btn.active, .open > .donate-btn.dropdown-toggle { color: white; background-color: #ce8a00; border-color: #c48300; }
.donate-btn:active:hover, .donate-btn:active:focus, .donate-btn:active.focus, .donate-btn.active:hover, .donate-btn.active:focus, .donate-btn.active.focus, .open > .donate-btn.dropdown-toggle:hover, .open > .donate-btn.dropdown-toggle:focus, .open > .donate-btn.dropdown-toggle.focus { color: white; background-color: #aa7200; border-color: #825700; }
.donate-btn:active, .donate-btn.active, .open > .donate-btn.dropdown-toggle { background-image: none; }
.donate-btn.disabled:hover, .donate-btn.disabled:focus, .donate-btn.disabled.focus, .donate-btn[disabled]:hover, .donate-btn[disabled]:focus, .donate-btn[disabled].focus, fieldset[disabled] .donate-btn:hover, fieldset[disabled] .donate-btn:focus, fieldset[disabled] .donate-btn.focus { background-color: #ffab02; border-color: #ffab02; }
.donate-btn .badge { color: #ffab02; background-color: white; }
.donate-btn:focus, .donate-btn.focus { background-color: #e89b00; border-color: #ce8a00; }
.donate-btn:hover { background-color: #e89b00; border-color: #dd9400; }
.donate-btn:active, .donate-btn.active, .open > .donate-btn.dropdown-toggle { background-color: #e89b00; border-color: #dd9400; }
.donate-btn:active:hover, .donate-btn:active:focus, .donate-btn:active.focus, .donate-btn.active:hover, .donate-btn.active:focus, .donate-btn.active.focus, .open > .donate-btn.dropdown-toggle:hover, .open > .donate-btn.dropdown-toggle:focus, .open > .donate-btn.dropdown-toggle.focus { background-color: #e89b00; border-color: #ce8a00; }

.logo { height: 100px; }

.contact-btn { background-color: #3cb1f4; }

h3.section-subheading.contact-desc { color: #fff; }

/*# sourceMappingURL=main.css.map */
